form#contact {
	background: red;
	max-width: 500px;
	padding: 50px;
	input {
		display: inline-block;
		width: 100%;
		margin-bottom: 20px;
		&[type="submit"] {
			background: transparent;
			cursor: pointer;
			color: #fff;
			text-transform: uppercase;
			float: right;
			width: 25%;
			border: 0;
			font-weight: 600;
		}
	}
}
