.modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(#000, .5);
	z-index: 9999;
	height: 100vh;
	overflow-x: hidden;
	.modal-close {
		position: absolute;
		font-size: 20px;
		text-align: center;
		background: #e2e7ea;
		left: 97%;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		bottom: 95%;
		line-height: .8;
		button {	
			border: 0;
			background: none;
			padding: inherit;
			outline: 0;
			font-size: 20px;
			position: relative;
			top: -5%;
		}
	}
	.modal-inner {
		position: relative;
		width: 400px;
		padding: 20px;
		margin: 15% auto;
		z-index: 9999;
		background: rgba(14, 56, 104, .95);
	}
}
