<section class="padding-top-50">
	<main class="about-entry">
		<h1>
			About
		</h1>

		<p>
			This site was developed to showcase the breadth and diversity of development agencies in the different regions of England. I thought it would be useful for the following types of individuals:
		</p>

		<ol type="a">
			<li>
				Developers interested in seeing what sort of work is available for them to do in the UK
			</li>

			<li>
				Businesses, whether large or SMEs, eager to find a development agency capable of delivering their project
			</li>

			<li>
				Creative agencies, such as design firms, seeking to form a partnership with a development agency
			</li>
		</ol>

		<p>
			It was also vital that the markers for the various development agencies linked to separate pages that listed important company information such as their specialisms.
		</p>

	<h2>
		How can I help / contribute?
	</h2>

	<p>
		If you are a development agency keen on putting your name on the map, please email me at <strong><a href="mailto:<%= settings.contactEmail %>"><%= settings.contactEmail %></a></strong> and provide me with the information you would like displayed.
	</p>

	</main>
</section>
