<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>UK Development</title>
		<link rel="stylesheet" href="/dist/vendor.css" />
		<link rel="stylesheet" href="/dist/styles.css" />
    </head>
<body>
	<%=	erb :'partials/header' %>
	<div class="modal hide" id="foreign-modal">
		<%= erb :'partials/foreign-modal' %>
	</div>
	<%= yield %>
	<%= erb :'partials/footer' %>
</body>
</html>

