<div class="modal-inner">
	<span class="modal-close">
		<button>&times;</button>
	</span>

	<p>
		We notice that you are visiting our website from outside the UK.
	</p>

	<p>
		While we encourage anyone to make use of the site and its resources, our geolocation services are strictly available to UK residents only.
	</p>

	<p class="footnote">
		&ast; Since we cannot ask for your location, we are using the red marker as your <em>de facto</em> current location.
	</p>

</div>
